apiVersion: v1
kind: Service
metadata:
  name: users-db
  labels:
    app: users-db
    service: users-db
spec:
  ports:
  - port: 27017
    name: tcp
  selector:
    app: users-db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-db
  labels:
    app: users-db
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-db
      version: v1
  template:
    metadata:
      labels:
        app: users-db
        version: v1
    spec:
      containers:
      - name: users-db
        image: mongo
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 27017
---
apiVersion: v1
kind: Service
metadata:
  name: users-service 
  labels:
    app: users
    service: users
spec:
  ports:
  - port: 5000
    name: http
  selector:
    app: users
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  labels:
    app: users
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
      version: v1
  template:
    metadata:
      labels:
        app: users
        version: v1
    spec:
      containers:
      - name: users
        image: users-service:0.0.1
        imagePullPolicy: Never
        env:
        - name: DB_HOST
          value: users-db
        ports:
        - containerPort: 5000
